<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lqr.wechat">

    <!-- 视频录制的权限star   -->
    <!-- sd卡写入权限  -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 硬件支持   -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 视频录制的权限end   -->

    <!-- 权限声明 -->
    <!-- 访问网络状态-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="com.lqr.wechat.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="com.lqr.wechat.RECEIVE_MSG"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--###############################网易云信配置 begin###############################-->
        <!-- APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
            如果 SDKOptions 中提供了，取 SDKOptions 中的值。 -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="5c6b874a1803f3500e26a984f5ad33a7"/>
        <!-- 声明云信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core"/>

        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core"/>

        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
            保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

        <!-- 安卓保活配置 -->
        <service
            android:name="com.netease.cosine.core.CosineService"
            android:process=":cosine">
        </service>

        <receiver
            android:name="com.netease.cosine.target.CosineReceiver"
            android:exported="true"
            android:process=":cosine">
        </receiver>

        <meta-data
            android:name="com.netease.cosine.target"
            android:value=""/>
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver"/>

        <!--###############################网易云信配置 end###############################-->

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.OtherLoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--会话聊天-->
        <activity
            android:name=".activity.SessionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.RedPacketActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TransferActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FilePreviewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AliasActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FriendCirclePrivacySetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PostscriptActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ImageWatchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FileWallActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NewFriendActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AddFriendActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SearchUserActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--设置-->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NewMsgNotifySetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.DontDistorbSetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CheatSetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PrivacySetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CommonSetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AccountAndSafeSetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--卡包-->
        <activity
            android:name=".activity.CardPaketActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MsgNotificationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.VipCardActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MyCouponActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FriendsCouponActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--个人信息-->
        <activity
            android:name=".activity.MyInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ShowBigImageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ChangeNameActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ChangeSignatureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.QRCodeCardActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NearbyPerpleActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--群组-->
        <activity
            android:name=".activity.TeamCheatCreateActvitiy"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TeamCheatInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TeamNameSetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TeamCheatListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AllTagActvitiy"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TeamAnnouncementEditActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TeamCheatRemoveMemberActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>